<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<title>POP</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="连接代码托管与应用引擎，为程序员搭建完整的在线编程平台">
<meta name="keywords" content="在线开发,代码托管,应用引擎">
<meta name="author" content="mass">
<!-- Site CSS -->
<link
	<link href="../static/lib/bootstrap-3.3.5-dist/css/bootstrap.min.css"
	rel="stylesheet">
<link
	href="../static/lib/font-awesome-4.3.0/css/font-awesome.min.css"
	rel="stylesheet">
<link href="../static/custom/css/index.css" rel="stylesheet">
<!-- Favicons -->
<link rel="icon" href="./favicon.ico">

</head>
<body class="home-template">

	<div class="navbar navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button class="navbar-toggle collapsed" type="button"
					data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand hidden-sm" href="#">POP在线开发平台</a>
			</div>
		</div>
	</div>

	<div class="jumbotron masthead">
		<div class="container">
			<h1>POP</h1>
			<h2>Public Online Programming</h2>
			<h3>连接在线代码托管与在线应用引擎，为程序员搭建完整的在线开发平台</h3>
			<p class="lead">
				<a class="btn btn-lg btn-outline-inverse " href="http://123.57.2.1:9222/login">管理员登录</a>
			</p>
		</div>
	</div>

	<footer class="footer">
		<div class="container">
			<ul class="footer-links">
				<li>合作网站：<a href="http://code.csdn.net/">CSDN CODE 代码托管</a></li>
				<li><a href="http://developer.baidu.com/cloud/rt">BAE 应用引擎</a></li>
			</ul>
			<div class="row footer-bottom">&copy; PKU MASS 2015</div>
		</div>
	</footer>

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
	<script src="./js/jquery.cookie.js"></script>
	<script
		src="http://cdn.bootcss.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	<script src="http://cdn.bootcss.com/unveil/1.3.0/jquery.unveil.min.js"></script>
	<script
		src="http://cdn.bootcss.com/scrollup/2.4.0/jquery.scrollUp.min.js"></script>
	<script src="http://cdn.bootcss.com/toc/0.3.2/toc.min.js"></script>
	<script src="http://static.bootcss.com/www/assets/js/site.min.js"></script>
	<script src="/js/jquery.cookie.js"></script>
</body>
</html>
