<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>POP - 工单</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="连接代码托管与应用引擎，为程序员搭建完整的在线编程平台">
<meta name="keywords" content="在线开发,代码托管,应用引擎">
<meta name="author" content="mass">
<link href="../static/lib/bootstrap-3.3.5-dist/css/bootstrap.min.css"
	rel="stylesheet">
<link href="../static/lib/font-awesome-4.3.0/css/font-awesome.min.css"
	rel="stylesheet">
<link href="../static/custom/css/console.css" rel="stylesheet">
<link rel="icon" href="../static/favicon.ico">
  <style type="text/css">
        div.panel, div.page-header {
            width: 70%;
            margin-left: auto;
            margin-right: auto;
        }
        th, td {
            text-align: center;
        }
    </style>
</head>
<body>
	<div class="navbar navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand hidden-sm" href="http://www.poprogramming.com/console">POP在线编程平台</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="/create" data-toggle="modal">新建工单</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						id="username" data-toggle="dropdown">{{ username }}<span
							class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">使用说明</a></li>
							<li><a href="#">常见问题</a></li>
							<li><a href="#">意见反馈</a></li>
							<li class="divider"></li>
							<li><a href="http://www.poprogramming.com/account">账号设置</a></li>
						</ul></li>
					<li><a href="http://www.poprogramming.com/logout" id="logout"><i
							class="fa fa-power-off"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="panel panel-info" style="margin-left: 20%">
    	<div class="panel-heading">
        	<h4>工单详情</h4>
    	</div>
		<ul class="list-group">
			<li class="list-group-item">工单编号: {{ issue.issue_id }}</li>
			<li class="list-group-item">工单状态: {{ issue.state}}</li>
			<li class="list-group-item">提交时间: {{ issue.create_time }}</li>
			<li class="list-group-item">问题类型: {{ issue.issue_type }}</li>
			<li class="list-group-item">问题标题: {{ issue.issue_head }}</li>
			<li class="list-group-item">问题描述: {{ issue.issue_body }}</li>
			<li class="list-group-item">联系邮箱: {{ issue.email}}</li>
			{% if issue.attachment %}
			<li>
				<img class="img-thumbnail" src="{{ issue.attachment }}">
			</li>
			{% endif %}
		</ul>
	</div>

	<div class="panel panel-info" style="margin-left: 20%">
    	<div class="panel-heading">
        	<h4>沟通记录</h4>
    	</div>
		{% for communicate in issue.communicates %}
		<div class="communication-content">
			<img class="avatar" width="60" height="60" src="/static/custom/img/user.png">
			{{ communicate.content }}
			<div class="communication-content-box">
				<div class="communication-content-top">
					<span> {{ communicate.sender }} </span>
					<span class="margin-left"> {{ communicate.time }} </span>
				</div>
			</div>

		</div>
		{% endfor %}
		<div>
			<form class="form-horizontal add-communication" method="post">
				<div>
					<textarea id="content", name="content" style="width: 400px; height: 100px">
					</textarea>
				</div>
				<div>
					<input name="rst" type="reset" hidden>
					<button type="submit" class="btn btn-primary add-comm-btn" id="add-comm-btn" data-loading-text="创建中，请稍等...">添加</button>
				</div>
			</form>
		</div>
	</div>

	<div class="col-md-2" >
		<div class="selector">
			<ul class="nav nav-pills nav-stacked nav-pills-stacked-example">
				<li class="active"><a href="/create">新建工单</a></li>
                <li><a href="/list">所有工单</a></li>
				<li><a href="/unsolved">待解决工单</a></li>
				<li><a href="/solved">已解决工单</a></li>
			</ul>
		</div>
	</div>

	<!-- 新建工单
	<div class="modal fade" id="create">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span>&times;</span>
					</button>
					<h4 class="modal-title">新建工单</h4>
				</div>

				
				<form action="/create" class="form-horizontal create-form" enctype="multipart/form-data" method="post">
					<div class="modal-body">
						<div class="form-group">
							<label for="type" class="col-sm-2 control-label">问题类型*</label>

							<div class="col-sm-10">
								<select class="form-control" id="type" name="type"  required autofocus>
								<option value="开发" selected>开发</option>
								<option value="编译">编译</option>
								<option value="调试">调试</option>
								<option value="运行">运行</option>
								<option value="其他">其他</option>
							</select>
							</div>

						</div>

						<div class="form-group">
							<label for="head" class="col-sm-2 control-label">问题标题*</label>

							<div class="col-sm-10">
								<input type="text" id="head" name="head"
									class="col-sm-10 form-control" placeholder="标题长度限制为30字" required autofocus>
							</div>
						</div>

						<div class="form-group">
							<label for="body" class="col-sm-2 control-label">问题描述*</label>

							<div class="col-sm-10">
								<textarea type="text" id="body" name="body"
									class="col-sm-10 form-control" placeholder="请详细描述问题" required autofocus>
								</textarea>
							</div>
						</div>

						 <div class="form-group">
                    		<label for="atta" class="col-sm-2 control-label">图片附件</label>
                    		<div class="col-sm-10">
                        		<input type="file" id="atta" name="atta" class="col-sm-10 form-control">
                    		</div>
                		</div>

                		<div class="form-group">
							<label for="email" class="col-sm-2 control-label">联系邮箱</label>

							<div class="col-sm-10">
								<input type="text" id="email" name="email"
									class="col-sm-10 form-control">
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<input name="rst" type="reset" hidden>
						<button type="submit" class="btn btn-primary create-btn"
							data-loading-text="创建中，请稍等...">创建</button>
					</div>
				</form>
			</div>
		</div>
	</div>
 -->
	<script src="/static/lib/jquery/jquery-1.9.1.min.js"></script>
	<script src="/static/lib/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
	<script src="/static/lib/jquery/jquery.cookie.js"></script>
	<script src="/static/custom/js/issue.js"></script>
</body>
</html>